<%- include('partials/header') %>
   

    <div class="innerContent">
      <div class="Banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="./assets/images/7958341-removebg-preview (1).png"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="./assets/images/7958341-removebg-preview (1).png"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="./assets/images/7958341-removebg-preview (1).png"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="CollegeMobileList">
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col">
              <div class="CollegeMobileList_filter">
                <div class="CollegeMobileList_filterList">
                  <p class="bold"><i class="bi bi-filter-square-fill"></i></p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>Sort By &nbsp; <i class="bi bi-caret-down-fill"></i></p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>
                    Degree Type &nbsp; <i class="bi bi-caret-down-fill"></i>
                  </p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>Stream &nbsp; <i class="bi bi-caret-down-fill"></i></p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>Top Rated &nbsp; <i class="bi bi-caret-down-fill"></i></p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>Managed By &nbsp; <i class="bi bi-caret-down-fill"></i></p>
                </div>
                <div class="CollegeMobileList_filterList">
                  <p>Rating &nbsp; <i class="bi bi-caret-down-fill"></i></p>
                </div>
              </div>
            </div>
          </div>

          <% console.log("hii",collegeData) %>
          <% collegeData.forEach(college => { %>
            <div class="row my-4">
              <div class="col">
                <div class="CollegeMobileList_list shadow">
                  <div class="CollegeMobileList_listData">
                    <div class="row">
                      <div class="col-3">
                        <div class="image">
                          <img src="<%= college.collegeDetails.imageSrc %>" alt="logo" />
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="CollegeMobileList_data">
                          <% if (college.collegeDetails.topRated) { %>
                            <p class="border px-2 mb-1"><i class="bi bi-star-fill"></i> &nbsp; Top Rated</p>
                          <% } %>
                          <h6><%= college.collegeDetails.name %></h6>
                          <ul>
                            <li class="d-flex align-items-center">
                              <p>( <%= college.collegeDetails.rating %> )&nbsp; </p>
                              <div>
                                <% for (let i = 0; i < college.collegeDetails.star; i++) { %>
                                  <i class="bi bi-star-fill"></i>
                                <% } %>
                              </div>
                              <p>&nbsp;&nbsp; <%= college.collegeDetails.reviewCount %></p>
                            </li>
                            <li>
                              <div><i class="bi bi-geo-alt-fill"></i> </div>
                              <div><p> <%= college.collegeDetails.address %></p></div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-6">
                        <div class="callNow">
                          <button><i class="bi bi-telephone-fill"></i> &nbsp; Call Now</button>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="Enquiry">
                          <button><a href="/collegeView/<%= college.collegeCode %>">Send Enquiry</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>


        
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
